@charset "UTF-8";

/* ----- ALL LEVELS (incl. first) */

* html ul.dropdown ul { background-image: url('../images/dropdown_pane_8bit.png'); }

ul.dropdown {
 font: bold 12px Arial, Helvetica, sans-serif;
}

	ul.dropdown li {
	 padding: 7px 12px;
	 background-color: #fff;
	 color: #fff;
	}

	ul.dropdown li.hover,
	ul.dropdown li:hover {
	 background-color: #005055; 
	}

	ul.dropdown a:link,
	ul.dropdown a:visited { color: #fff; text-decoration: none; }
	ul.dropdown a:hover { color: #fff; text-decoration: underline; }
	ul.dropdown a:active { color: #fff; }


/* ----- END LEVEL */


	/* ----- NON-FIRST LEVEL */

	ul.dropdown ul {	 
	 margin-left: -6px;
	 width: 190px;
	 padding-bottom: 9px;
	 background: url('../images/dropdown_pane_8bit.png') 0 100% no-repeat;
	 color: #000;
	 font-size: 11px;
	 font-weight: normal;	 	 
	}

		ul.dropdown ul li {
		 background-color: transparent;
		 color: #000;		
		 background: url('../images/menubg.png') bottom center no-repeat;
		}

		ul.dropdown ul li.hover,
		ul.dropdown ul li:hover {
		 background-color: transparent;
		}

		ul.dropdown ul li.empty {
		 padding: 7px 12px 7px !important;
		 color: #1b509e;
		 font-weight: bold;
		 background: url('../images/menubg.png') center repeat-y;
		}
		
		ul.dropdown ul a:link,
		ul.dropdown ul a:visited { color: #245991; }
		ul.dropdown ul a:hover { color: #000; text-decoration: none; }
		ul.dropdown ul a:active { color: #000; }

		ul.dropdown ul ul {
			display: none;
		}

		ul.dropdown ul ul:hover {
			display: block;
		}


/**  dynamic menus 3/31/2017 ***/
#multilevel {
	position: relative;
	display: block;
}

#multilevel ul:hover {
	display: block;
}

.flyout {
  position: relative;
}
.dropdown:after {
  content: "\25BC";
  font-size: .5em;
  display: block;
  position: absolute;
  top: 38%;
  right: 12%;
}
.drop-nav,
.flyout-nav {
  position: absolute;
  display: none;
}
.drop-nav li {
  border-bottom: 1px solid rgba(255,255,255,.2);
}
.dropdown:hover > .drop-nav,
.flyout:hover > .flyout-nav {
  display: block;
}
.flyout-nav {
  left: 100%;
  top: 0;
}
.flyout:hover a,
.flyout-nav {
  background: #395066;
}


/* ----- END LEVEL */

/* ----- ALL LEVELS (incl. first) */

ul.dropdown .left-end {
	display:block;
	width: 133px;
	height: 27px;	
	text-decoration: none; 
/*	background-color: #1b509e; */
	background-color: #5b7534;
	border-bottom: 4px #BABA10 solid;
	border-radius: 6px 0 0 0;
	padding-top: 15px;
/*	background: url('../images/menu_au2.jpg');	*/
}
ul.dropdown .menu-item {
	display:block;
	width: 153px;
	height: 27px;	
	text-decoration: none; 
	background-color: #5b7534;
	border-bottom: 4px #BABA10 solid;
	padding-top: 15px;
/*	background: url("../images/menu_re2.jpg"); */
}
ul.dropdown .right-end {
	display:block;
	width: 208px;
	height: 27px;	
	text-decoration: none; 
	background-color: #5b7534;
	border-bottom: 4px #BABA10 solid;
	border-radius: 0 6px 0 0;
	padding-top: 15px;
	padding-left: 0px;
/*	background: url("../images/menu_empty2.jpg");	*/
}

#body_bottom {
	position: relative;
	float: left;
	width: 900px;		
	height: 18px;
	margin: 0;
	padding: 0;
	background-color: #5b7534;
	border-top: 4px #BABA10 solid;
}


ul.dropdown  .menu-text {
	position: relative;
	font-weight: 600;
	padding-left: 20px;
}

#news-menu {
	width:100px;
}

#menu-text-superscript {
	position: relative;
	font-weight: 600;
	padding-top: 6px;
	padding-left: 20px;
}

.right-end .menu-text {
	position: relative;
	font-weight: 600;
	padding-left: 0px;
	border-left: 0px #11a290 solid;	
}
/* ----- END LEVEL */